@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}

<form id="newProfile">
    <div dir="ltr">
        <div id="remote">
            <input dir="ltr" id="cities" class="typeahead" type="text" placeholder="">
            <input dir="ltr" id="universities" class="typeahead" type="text" placeholder="">
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {


            var profile = {
                "FullName": 'KAVE',
                //"CityId": 5,
                "CountryId": 1,
                "StatusId": 1,
                //"UniversityId": 1,
                "DegreeId": 1,
                "BirthDate": null,
                "CellPhone": null,
                "AlternateEmail": null,
                "WebSite": null,
                "Business": null,
                "UserId": "728b39b1-8440-4139-b58b-096696f4cb49"
            };



            var universities = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/universities?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#universities').typeahead({
                minLength: 1,
                highlight: true
            }, {
                    name: 'universities',
                    display: 'Name',
                    source: universities
                }).on("typeahead:select", function (e, university) {
                    profile.UniversityId = university.Id;
                });




            var cities = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/cities?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#cities').typeahead({
                minLength: 1,
                highlight: true
            }, {
                    name: 'cities',
                    display: 'Name',
                    source: cities
                }).on("typeahead:select", function (e, city) {
                    profile.CityId = city.Id;
                });


            $("#newProfile").validate({
                submitHandler: function () {
                    //e.preventDefault();
                    $.ajax({
                        type: 'POST',
                        contentType: "application/json; charset=utf-8",
                        url: "/api/profiles",
                        data: JSON.stringify(profile),
                        success: function (data) {
                            alert("profile wird hinzugefügt");
                        },
                        error: function (result) {
                            alert("Something Wnt Wrong");
                        }
                    })
                }
            });
        });
    </script>
}


