@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
<div class="col-lg-12 mb-1">
    <!-- Illustrations -->
    <div class="card shadow mb-5">
        <div class="card-header py-4">
            <h6 class="m-0 font-weight-bold text-primary">درباره ما</h6>
        </div>
        <div class="card-body">
            @*<div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="~/images/undraw_posting_photo.svg" alt="">
            </div>*@
            <p class="text-gray-900">
                این شبکه اجتماعی یا بهتر بگویم وب سایت به منظور ارتباط بیشتر بین دانشجویان و متخصصین ساکن کشور آلمان و همچنین علاقه مندان به ارتباط و آشنایی با روندهای
                شغلی و تحصیلی کشور آلمان که در کشورمان عزیزمان ساکن هستند طراحی و در حال پیاده سازی می باشد.
                <br />
                <br />
                با توجه به گستردگی کار و ایده هایی زیادی که برای هر چه بهتر و پربار تر کردن این مجموعه داشته
                و انجام آن ها به صورت فردی کاری زمان بر و گاها طاقت فرسا می باشد، لذا کلیه دوستانی که تمایل به همکاری با اینجانب را دارند می توانند از طریق آدرس ایمیل اعلام شده
                تماس بگیرند و در زمینه های مختلف از جمله تولید محتوا ، برنامه نویسی سمت مشتری و سمت سرور و حوزه های مختلف با این جانب همکاری نمایند.
                <br />
                <br />
                لازم به ذکر است دوستانی که در برلین
                ساکن هستند علاقه مند به همکاری و کار مشارکتی هستند این امکان وجود خواهد داشت تا در جلساتی که در دانشگاه به منظور تبادل اطلاعات برقرار می نماییم می توان با توجه به سابقه آموزشی و علاقه به تدریس دروس
                انفورماتیک به ویژه برنامه نویسی ، طراحی سایت و پایگاه داده جلسات آموزش و مشاوره را در محیط های دانشگاه نیز برگزار نمود. اینجانب معتقد هستم که با کار و مشارکت گروهی
                پیشرفت و انگیزه به مراتب بالاتر رفته و موجبات ترقی فردی و گروهی بیشتر خواهد شد.
                <br />
                <br />
                در پایان از همه دوستان که نظر و ایده ایی برای بهتر شدن این مجموعه دارند نظرشون رو آزادانه مطرح کنند. قطعا امکان خطا و اشتباه همیشه وجود دارد، لذا
                نظرهای شما می تواند بسیار سازنده و راه گشا باشد.
                <br />
                <br />
                ارادتمند سعید حاجی رحیمی
            </p>

            <img src="~/images/anonymous.png" width="50px" height="50px" />
            <p class="text-gray-900">شما هم یکی از ما باشید</p>

        </div>
    </div>
</div>




















@*<div class="container">
    <div class="card shadow-lg my-5">
        <div class="card-body p-4">
            <div class="row">
                <h1 class="h4 text-gray-900 mb-4">درباره ما</h1>
                

            </div>
        </div>
    </div>
</div>*@



<!--
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-1">
        <div class="card-body p-0">

<div class="row">
    <div class="col-lg-5 d-none d-lg-block"></div>
    <div class="col-lg-7">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</div>
     -->
